body {
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    margin: 0;
    padding :20px;
}
. nav {
    background-color: goldenrod;
    padding: 10px;
    text-align: center;
}
.nav a {
    color:aliceblue
    text-decoration:solid
    padding:10px 20px;
    display:inline-block
}

.nav a:hover {
    background-color: floralwhite;
    border-radius:5px;
}
h1 {
    color:black;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5;
}